/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /* Menu */
    header{
        margin-bottom: 50px;
    }

    .menu-desktop{
        flex-direction: row;
        padding: 20px 30px;
    }

    .menu-desktop h1{
        letter-spacing: 5px;
        font-size: 20px;
    }

    header nav{
        display: none;
    }

    /* Icon */
    .topnav{
        display: block;
    }

    /* Ctnr video main section */
    .ctnr-video{
        width: 100%;
        height: 200px;
        margin-bottom: 50px;
    }

    .ctnr-video p {
        font-size: 25px;
    }

    .ctnr-video img{
        top: 15px;
    }

    .iframe{
        top: 18%;
        left: 0px;
        margin-left: 10%;
    }


    .iframe i{
        right: 105px;
        top: -40px;
    }


    /* Footer */

    .ctnr-social-media h2{
        font-size: 25px;
    }

    .ctnr{
        flex-direction: column;
        padding: 0 40%;
    }

    .social-media, .menu-footer {
        align-items: flex-start;
        width: 100%;
    }

    .social-menu a, .social-menu p{
        font-size: 14px;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    header{
        margin-bottom: 50px;
    }

    .menu-desktop{
        flex-direction: row;
    }

    header nav{
        display: none;
    }

    .topnav{
        display: block;
    }

    .ctnr-video{
        width: 100%;
        height: 250px;
        margin-bottom: 50px;
    }

    .ctnr-video p {
        font-size: 35px;
    }

    .ctnr-video img{
        top: 20px;
    }

    .iframe{
        top: 40%;
        left: 5%;
    }

    .iframe i{
        right: 55px;
        top: -40px;
    }

    /* Footer */

    .ctnr-social-media h2, .menu-desktop h1 {
        font-size: 30px;
    }

    .ctnr{
        flex-direction: column;
        padding: 0 40%;
    }

    .social-media, .menu-footer {
        align-items: flex-start;
        width: 100%;
    }

    .social-menu a, .social-menu p{
        font-size: 16px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* Menu */

    header{
        margin-bottom: 50px;
    }

    .menu-desktop{
        flex-direction: row;
    }

    header nav{
        display: none;
    }



    .topnav{
        display: block;
    }

    .ctnr-video{
        width: 100%;
        height: 250px;
        margin-bottom: 70px;
    }

    .ctnr-video p {
        font-size: 50px;
    }

    .ctnr-video img{
        top: 30px;
    }

    .iframe{
        top: 28%;
        left: 4%;
    }

    .iframe i{
        right: 75px;
        top: -40px;
    }

    /* Footer */

    .ctnr-social-media h2, .menu-desktop h1 {
        font-size: 35px;
    }

    .ctnr{
        flex-direction: column;
        padding: 0 40%;
    }

    .social-media, .menu-footer {
        align-items: flex-start;
        width: 100%;
    }

    .social-menu a, .social-menu p{
        font-size: 18px;
    }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    header{
        margin-bottom: 50px;
    }

    .ctnr-video{
        /* height: 250px; */
        margin-bottom: 90px;
    }

    .ctnr-video p {
        font-size: 40px;
    }

    .ctnr-video img{
        top: 23px;
    }

    .iframe{
        left: 5%;
    }

    .iframe i{
        right: 95px;
        top: -40px;
    }

/* 
    .videoo{
        width: 756px;
        height: 238px;
    } */
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 1200px) {

    .iframe i{
        right: 37%;
        top: -40px;
    }
}