@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat/subset-Montserrat-Bold.woff2') format('woff2'),
        url('../font/montserrat/subset-Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat/subset-Montserrat-Regular.woff2') format('woff2'),
        url('../font/montserrat/subset-Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    position: relative;
    z-index: 1;
}

*{
    font-family: Montserrat;
    font-weight: normal;
}

a.active{
    color: #dd453e;
}

/* width */
::-webkit-scrollbar{
    width: 10px;
    background-color: white;
}

/* Handle */
::-webkit-scrollbar-thumb{
    background: #dd453e;
    height: 10px;
    width: 50px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover{
    background: #b30000; 
}

/* Connection */

.ctnr-admin-connection .bbb{
    display: none
}

.ctnr-conexion p{
    color: white;
    margin-left: 5px;
}

.ctnr-admin-connection{
    width: 40px;
    height: 40px;
    background-color: #dd453e;
    position: absolute;
    z-index: 200;
    top: 150px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.ctnr-admin-connection i{
    color: white;
}

.ctnr-form-admin{
    display: none;
}

.ctnr-form-admin{
    width: 70%;
    margin: 0 auto;
}

#form input{
    border: none;
    margin: 10px 0;
    padding: 8px;
}

#form input:nth-child(4){
    margin-bottom: 0;
}

#form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Menu */
header{
    background-color: white;
}

.menu-desktop{
    /* height: 100%; */
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

header h1{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
    background-image: url(../images/pageVideo/glich.jpeg);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

header ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header a{
    text-decoration: none;
    color: black;
    font-family: "Montserrat";
    font-weight: normal;
    padding: 10px;
}

header a:hover{
    border-bottom: 1px solid black;
}

/* Icon menu burger */
.fas{
    display: none;
}

.ctnr-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
}

.title-actus{
    width: 30%;
    height: auto;
    margin: 0 auto;
}

.title-actus p{
    color: red;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

.img-actus{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
}

.img-actus img{
    width: 100%;
}

.date-actus{
    position: absolute;
    left: -86px;
    top: 0;
    width: 86px;
    height: 86px;
    background-color: #dd453e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.date-actus p{
    color: white;
    margin: 0;
}

.date-actus p:nth-child(2){
    padding: 0 15px;
}
.date-actus p:nth-child(3){
    text-align: right;
}

.text-actus{
    width: 50%;
    margin: 0 auto;
}

.text-actus article{
    color: white;
}

















footer{
    background-color: white;
    /* height: 300px; */
}

.ctnr-social-media{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.ctnr-social-media h2{
    text-align: center;
    width: 100%;
    font-family: "Montserrat";
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 10px;
    background-image: url(../images/pageVideo/glich.jpeg);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* footer h3{
    margin: 0;
} */


.ctnr{
    display: flex;
    height: 100%;
}

.ctnr a{
    margin: 15px 0;
}

.social-media, .menu-footer{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.social-menu{
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-evenly;
}


.social-menu nav{
    display: flex;
    align-items: center;
    height: 100%;
}

.social-menu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 100%;
}

.social-menu li {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.social-menu a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: normal;
    display: flex;
    align-items: center;
}


.social-menu p {
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
}