@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat/subset-Montserrat-Bold.woff2') format('woff2'),
        url('../font/montserrat/subset-Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat/subset-Montserrat-Regular.woff2') format('woff2'),
        url('../font/montserrat/subset-Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

*{
    font-family: Montserrat;
    font-weight: normal;
}

h1{
    color: white;
    font-family: Montserrat;
    font-weight: bold;
}

/* Section */
#crud, #actus{
    width: 100%;
    height: 100vh;
    margin-bottom: 100px;
}

/* Ctnr array and title */
.ctnr-array-crud{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: white;
}

/* Header array */
.title-add-date{
    width: calc(100% - 10%);
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #435d7d;
}

.button a{
    padding: 8px;
    border: none;
    background-color: white;
    border-radius: 2px;
    cursor: pointer;
    font-size: 13px;
    outline: none;
    text-decoration: none;
    color: black;
}


input{
    padding: 8px;
    border: none;
    background-color: white;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}

input[type="text"]{
    cursor: text;
}

/* CRUD */

.ctnr-date{
    width: 100%;
}

.test{
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
    overflow-y: scroll;
    max-height: 80vh;
}

#ctnr-date,  #ctnr-actus{
    width: 100%;
}

/* #ctnr-date thead tr{
    border-bottom: 2px solid black;
    display: flex;
} */

table{
    border-spacing: 0;
    border-collapse: collapse;
    color: #566787
}

#ctnr-date th,  #ctnr-actus th{
    text-align: left;
    border-bottom: 2px solid #566787;
    border-collapse: separate;
    width: 14.2%;
    padding: 10px 0;
    font-family: Montserrat;
    font-weight: bold;
}

#ctnr-actus th{
    width: 16.6%
}

.row-class{
    border-bottom: 1px solid #ddd;
}



.row-class td{
    padding: 10px 0;
    width: 14.2%;
}

.row-class td:nth-child(4){
    width: 24.2%;
}

.row-class td:nth-child(6){
    width: 4.2%;
}


.fa-edit{
    color: orange;
    cursor: pointer;
}

.fa-trash-alt{
    color: red;
    cursor: pointer;
}



/* Add date */

/* Global ctnr add date */
.add-date, .edit-date,
.add-actus, .edit-actus{
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100px;
}

/* Form add date */
#add-date, #edit-date,
#add-actus, #edit-actus{
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    border-radius: 4px;
}

/* Header form */
.title-form{
    border-bottom: 1px solid grey;
}

.title-form h3{
    width: 80%;
    margin: 15px auto;
    font-family: Montserrat;
    font-weight: bold;
    color: #435d7d;
}

/* Div for label and input */
.ctnr{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

.ctnr input{
    border: 1px solid black;
}

label{
    margin-bottom: 5px;
    color: #435d7d;
}

.ctnr-1{
    margin-bottom: 5px;
}

.ctnr-1 + .ctnr{
    margin-top: 0;
}

/* input{
    padding: 8px;
    border: 1px solid grey;
    outline: none;
} */

/* Div radio */
.verify-complet{
    display: flex;
    align-items: center;
}

.verify-complet label{
    margin-bottom: 0;
}

/* Div footer add dates */
.btn-send-back-form, .btn-send-back-form-actus{
    background-color: #ecf0f1;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 0;
    border-top: 2px solid grey;
}

.submit-cancel{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.submit-cancel input{
    cursor: pointer;
}

.submit-cancel input[type="button"]{
    margin-right: 15px;
}


/* Actus */

#edit-actus .ctnr-actus-1{
    margin-bottom: 0;
}

#edit-actus .ctnr-actus-1 + div{
    margin-top: 0;
}

.add-actus, .edit-actus{
    top: 900px;
}

#ctnr-datas-firebase .row-class p{
    height: 100px;
    margin: 0;
    overflow-y: scroll;
}

#ctnr-datas-firebase td{
    width: 16.6%;
}

#ctnr-datas-firebase td:nth-child(3){
    width: 40%;
}

#ctnr-datas-firebase td:nth-child(4){
    width: 200px;
    max-width: 200px;
}

#ctnr-actus th:nth-child(5), #ctnr-actus th:nth-child(6), #ctnr-actus .edit, #ctnr-actus .delete{
    text-align: center;
}

#edit-actus textarea{
    height:100px;
    border: 1px solid black;
}

/* 
#actus .ctnr-add-actus{
    flex-direction: column;
    background-color: white;
}

.ctnr-add-actus{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #435d7d;
}

#add-actus{
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: #f1f1f1;
}

#add-actus input, #add-actus textarea{
    margin: 10px 0px;
    border-radius: 3px;
} */