@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat/subset-Montserrat-Bold.woff2') format('woff2'),
        url('../font/montserrat/subset-Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat/subset-Montserrat-Regular.woff2') format('woff2'),
        url('../font/montserrat/subset-Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    position: relative;
    z-index: 1;
}

*{
    font-family: Montserrat;
    font-weight: normal;
}

.image{
    background-color: red;
    margin: 350px 0 350px 0px;
    position: relative;
}

.image img{
    width: 20%;
    z-index: 2;
    position: absolute;
}


.image p{
    position: absolute;
    font-size: 70px;
    top: -50px;
    mix-blend-mode: difference;
    z-index: 15;
    margin: 0;
}